<div>
	<div class="DeclarationFloatContainer">
		<h2>Declaratie historie:</h2>
		<br/>
		<table>
			<tr>
				<td>Zoeken:</td>
				<td colspan="3"><input type="text" placeholder="Naam" ng-model="searchTerm" /></td>
			</tr>
			<tr>
				<td>Van:</td>
				<td><input type="date" ng-model="searchFromDate"/></td>
				<td>Tot:</td>
				<td><input type="date" ng-model="searchToDate"/></td>
			</tr>
		</table>
		<div style="float : right;">
			<input type="button" value="Declaratie tonen" ng-disabled="!currentdeclaration;" ng-click="openDeclarationDetailsBtn();" />
		</div>
	</div>
	<table id="declarationTable" class="styledTable">
		<thead>
			<th>Ingediend op</th>
			<th>Aanvrager</th>
			<th>Afdeling</th>
			<th>Aantal items</th>
			<th>Declaratiebedrag</th>
			<th>Status</th>
		</thead>
		<tbody>
			<tr ng-repeat="declaration in declarationList | filter:searchFilter" ng-dblclick="openDeclarationDetails(declaration.id);" id="{{ declaration.id }}" 
                ng-class="{selected:currentdeclaration.id==declaration.id}" ng-click="selectDeclaration(declaration);">
                
				<td>{{ declaration.created_at.toLocaleDateString() }}</td>
				<td>{{ declaration.created_by.first_name }} {{ declaration.created_by.last_name }} </td>
				<td>{{ declaration.created_by.department.name }}</td>
				<td>{{ declaration.items_count }}</td>
				<td>&euro; {{ declaration.items_total_price }}</td>
				<td>{{ declaration.state }}</td>
		</tbody>
	</table>
</div>