<div>
    <div id="upperSection">
        <div id="declarationControls">
            <input type="button" value="Afwijzen"
                   ng-disabled="!declaration"
                   ng-click="declineDeclarationBtn();"/>
            <input type="button" value="Doorsturen"
                   ng-disabled="!declaration"
                   ng-hide="userClass != 'supervisor' || !hasSupervisor"
                   ng-click="forwardDeclarationBtn();"/>
            <input type="button" value="Goedkeuren"
                   ng-disabled="!declaration"
                   ng-hide="!isAllowedToApprove"
                   ng-click="approveDeclarationBtn();"/>
            <br/>
            <label ng-hide="isAllowedToApprove" class="notAllowedToUse errorArea">
                U mag deze declaratie niet goedkeuren omdat het totaalbedrag hoger is dan uw maximaal goed te keuren
                bedrag (€ {{max_declaration_price}}).
            </label>
            <br/>
            <label ng-hide="hasSupervisor" class="notAllowedToUse errorArea">
                U mag deze declaratie niet doorsturen omdat u geen leidinggevende boven u heeft staan.
            </label>
        </div>

        <table>
            <tr>
                <td>Werknemer:</td>
                <td class="tableColumnExtraPaddingRight" title="{{declaration.created_by}}">
                    {{declaration.created_by.first_name + " " + declaration.created_by.last_name}}
                </td>
                <td>Leidinggevende:</td>
                <td>
                    <label ng-hide="userClass != 'supervisor'">
                        <select ng-model="supervisorId"
                                ng-options="n.id as (n.last_name + ', ' + n.first_name) for n in supervisorList"></select>
                    </label>
                    <label ng-hide="userClass != 'human_resources'">
                         {{declaration.last_assigned_to.last_name + ", " + declaration.last_assigned_to.first_name}}
                    </label>
                </td>
            </tr>
            <tr>
                <td>Personeelsnr:</td>
                <td class="tableColumnExtraPaddingRight" title="{{declaration.created_by}}">
                    {{declaration.created_by.employee_number}}
                </td>
                <td>Personeelsnr:</td>
                <td title="{{declaration.last_assigned_to.id}}">
                    {{declaration.last_assigned_to.employee_number}}
                </td>
            </tr>
        </table>
    </div>

    <br/>

    <div>
        <div class="floatContainer">
            <div class="DeclarationTableTitle"><h3>Declaratie items:</h3></div>
            <div class="TotalDeclarationPrice"> Totaal declaratiebedrag: &euro; {{declaration.items_total_price}}</div>
        </div>
        <div>
            <table id="declarationTable" class="styledTable">
                <thead>
                <tr>
                    <th>Datum</th>
                    <th>Declaratiesoort</th>
                    <th>Onderdeel declaratiesoort</th>
                    <th>Bedrag</th>
                    <th>Opmerking</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="line in declaration.lines">
                    <td>{{line.receipt_date.split(' ')[0]}}</td>
                    <td>{{line.declaration_type.name}}</td>
                    <td>{{line.declaration_sub_type.name}}</td>
                    <td>&euro; {{line.cost}}</td>
                    <td>{{line.comment}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <br/><br/><br/>

    <div class="floatContainer">
        <div class="DeclarationsCommentsDiv">
            <h3>Opmerkingen:</h3>
            <textarea readonly>{{declaration.comment}}</textarea>
        </div>
        <div class="DeclarationsEvidenceDiv">
            <h3>Bewijsstukken:</h3>
            <select size="4" ng-model="selectedattachment" ng-dblclick="openAttachment();"
                    ng-options="n.id as n.name for n in declaration.attachments"></select>
        </div>
    </div>
</div>