<div id="wrap">
	<header>
		<img src="images/logo.jpg"/>
		<div id="sessionInfo">Ingelogd als {{userName}} ({{userId}}) <input type="button" value="uitloggen" ng-click="logoutBtnClick()" /></div>
		<div id="navigation">
			<input id="declarationsBtn" type="button" value="Mijn declaraties" ng-click="navBtnClick('template.declarations')" />
			<input id="newDeclarationBtn" type="button" value="Nieuwe declaratie indienen" ng-click="navBtnClick('template.declarationForm')"/>
			<div ng-if="userClass == 'supervisor' || userClass == 'human_resources'">
				<input id="sentDeclarationsBtn" type="button" value="Ingediende declaraties" ng-click="navBtnClick('template.sentDeclarations')" />
				<input id="declarationsHistoryBtn" type="button" value="Declaratie historie" ng-click="navBtnClick('template.declarationsHistory')"/>
			</div>
            <div ng-if="userClass == 'supervisor'">
            	<input id="employeeSummaryBtn" type="button" value="Employee summary" ng-click="navBtnClick('template.employeeSummary')"/>
            </div>
		</div>
	</header>
	<div id="content" autoscroll="false" ui-view></div>
</div>